<div class="comic">
    <h1>
            Original Comic
        </h1>
    <img src="https://imgs.xkcd.com/comics/backward_in_time.png" id="comic">
    <div class="origin">
       
        <a href="https://xkcd.com/1017/">
        Check out on xkcd
        </a>
    </div>

</div>