<div id="intro" class="text-cont">

    <p>
       ExProgress is a demonstration based on the xkcd comic backward in time. Every point in the progress bar according to the formula:
    </p>
    <div class="formula">
        \( T = e^{20.3444{p}^{3}+3} -e^{3}  \) where p is progress
    </div>
    <p>
        This following begins slowly and starts increasing fast, it has a somewhat proportional relation to the amount of information we possess about that period of time. 
    </p>
    <P>
        The time is then converted to a short description about that time period using <a href="https://claude.ai"> Claude AI </a> following is a demo:

        
    </P>
</div>