<!DOCTYPE html>
<html>

<head>
    <title>Bar Partial</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
</head>

<body>
    <div id="pb" class="progress-bar" style="width:{{progress}}%"></div>
      
   
</body>

</html>