
:root{
    --tea-green: hsla(94, 78%, 82%, 1);
    --jet: hsla(34, 7%, 19%, 1);
    --glaucous: hsla(233, 21%, 56%, 1);
    --atomic-tangerine: hsla(19, 90%, 70%, 1);
    --columbia-blue: hsla(207, 51%, 83%, 1);
    --white:hsla(122, 33%, 84%,1);
}

html {
    scroll-behavior: smooth;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    
    
}

body{
    height:100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--jet);
    color:var(--white)
}

.Title{
    font-size: 3rem;
   
}

.Title h1{
    color:var(--glaucous);
}

.Title h2{
    font-size: 1rem;
    
}

a{
    text-decoration: none;
    color: #85D6BB;
}

.bar-container{
    width: 60%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:10px
}

@media (max-width:760px){
    .Title{
        font-size: 2rem;
    }

    .bar-container{
        width: 80%;
    }

    .bar{
        height: 20px;
    }
}

.bar{
    height: 30px;
    width: 100%;
    border-style: double;
    border-radius: 10px;
    border-width: 6px;
}

.progress{
    height: 100%;
    background-color: var(--atomic-tangerine);
    border-radius: 4px;
    width: 0%;
    transition: width 0.5s ease;
}

.controls{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1rem;

}

.text-cont{
    width: 70%;
    
}

p{
    text-align: justify;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.formula{
    margin-top: 1rwem;
    font-size: 1.7rem;
    margin-bottom: 1rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: var(--tea-green);
}



button{
    width: 20%;
    border-style: none;
    border-radius: 3px;
    padding:1rem
}

.settings{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 0.2rem;
}

.slider{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slider label{
    font-size: 1.2rem;
    
}

.slider label span{
    color:var(--tea-green)
}

.slider input{
    width: 80%;
    -webkit-appearance: none;
    appearance: none;
    height: 50%;
    background-color: #d3d3d3;
    opacity: 0.5;
    height: 15px;
}

.slider input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px; 
    height: 15px; 
    background-color: var(--glaucous);
   
    cursor: pointer; 
}

#intro{
    margin-top: 2rem;
}
  
.active {
    background-color: #D9EAFD;
}

.inactive { 
    background-color: #9AA6B2;
}

.info-icon {
    position: relative;
    cursor: pointer;
}

.info-icon::after {
    content: attr(data-tooltip);
    position: absolute;
    bottom: 125%;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 0.4rem;
    border-radius: 5px;
    white-space: nowrap;
    opacity: 0;
    font-size: 0.8rem;
    visibility: hidden;
    transition: opacity 0.3s;
    z-index: 1;
}

.info-icon:hover::after {
    opacity: 1;
    visibility: visible;
}

.detail{
    margin-top: 4rem;
}  

.detail h1{
    font-size: 3rem;
    color: var(--glaucous);
}

.comic h1{
    font-size: 3rem;
    color: var(--glaucous);
}

.comic{
    margin-top: 3rem;
}