
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    
}

body{
    height:100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #342e37;color:#dff8eb
}

.Title{
    font-size: 3rem;
    color:#9381FF;
}

.bar-container{
    width: 50%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:10px
}

@media (max-width:760px){
    .Title{
        font-size: 2rem;
    }

    .bar-container{
        width: 80%;
    }

    .bar{
        height: 20px;
    }
}

.bar{
    height: 30px;
    width: 100%;
    border-style: double;
    border-radius: 10px;
    border-width: 6px;
}

.progress{
    height: 100%;
    background-color: #FFBFA0;
    border-radius: 4px;
    width: 0%;
    transition: width 0.5s ease;
}

.controls{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1rem;

}

button{
    width: 20%;
    border-style: none;
    border-radius: 3px;
    padding:1rem
}

.settings{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.slider{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slider label{
    font-size: 1.2rem;
}

.slider input{
    width: 80%;
    -webkit-appearance: none;
    appearance: none;
    height: 50%;
    background-color: #d3d3d3;
    opacity: 0.5;
    height: 20px;
}

.slider input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px; 
    height: 20px; 
    background-color: rgb(74, 162, 250);
   
    cursor: pointer; 
}
  
.active {
    background-color: #D9EAFD;
}

.inactive { 
    background-color: #9AA6B2;
}
