<!DOCTYPE html>
<htm>
    <head>
        <script src="https://unpkg.com/htmx.org@2.0.4/dist/htmx.js" integrity="sha384-oeUn82QNXPuVkGCkcrInrS1twIxKhkZiFfr2TdiuObZ3n3yIeMiqcRzkIcguaof1" crossorigin="anonymous"></script>
        <script src="https://unpkg.com/htmx-ext-ws@2.0.1/ws.js"></script>
    </head>
    <body>
        <div>
            <h1>
                ExProgress
            </h1>
        </div>
        <div hx-ext="ws" ws-connect="/bar" id="bar">
            <div id="sm-bar">

            </div>

        </div>

    </body>
    <script src="{{ url_for('static', path='/main.js') }}"></script>
</htm>