<!DOCTYPE html>
<html>
    <head>
        <script src="https://unpkg.com/htmx.org@2.0.4/dist/htmx.js" integrity="sha384-oeUn82QNXPuVkGCkcrInrS1twIxKhkZiFfr2TdiuObZ3n3yIeMiqcRzkIcguaof1" crossorigin="anonymous"></script>
        <script src="https://unpkg.com/htmx-ext-ws@2.0.1/ws.js"></script>
        <link rel="stylesheet" href="{{ url_for('static', path='/styles.css') }}">
    </head>
    <body>
        <div>
            <h1>
                ExProgress
            </h1>
        </div>
        <div class="bar">
            <div class="progress"> 

            </div>

        </div>

    </body>
    <script src="{{ url_for('static', path='/main.js') }}"></script>
</html> 